* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    /*colors for the bottom nav bar*/
    --color1: #4b39ef;
    --color2: #29fd53;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;

    /*
    background-color: #fa2515;
    background: url(../images/imgBackground/background1.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;*/
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-calendar-picker-indicator {
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(4px);
}


div.appContainer {
    max-width: 400px;
    height: 100%;
    margin: auto;

    background-color: #fa2515;
    /*tirar dps*/
    background: url(../images/imgBackground/background1.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

header {
    min-height: 300px;
    max-width: 400px;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
}

header div.appbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

header div.appbar img {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
}

header div.appbar p {
    display: inline-block;
    color: #fff;
    padding-left: 10px;
    transform: translateY(-10px);
    font-weight: 500;
    font-size: 36px;
}

header select {
    width: 60%;
    padding: 4px;
    border-radius: 4px;
}

header section {
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 40px;
    padding: 8px;
}

header section div.finishEvent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 4px;
    background-color: #29fd53;
    
    border-radius: 8px;

    & p {
        font-size: 16px;
        font-weight: 500;
        padding: 4px;
    }

    & ion-icon {
        padding: 4px;
        font-size: 24px;
    }
}




main {
    padding-left: 16px;
    padding-right: 16px;
}







footer {
    background-color: red;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    transform: translateY(-50%);
    position: fixed;
    bottom: 0;
}



/* just for bottom nav bar (vou separar dps, navbar.css)*/

div.navigation {
    position: relative;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

div.navigation ul {
    display: flex;
    width: 350px;
}

div.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

div.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

div.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    /*ummmmm*/
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--color1);
}

div.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

div.navigation ul li a .text {
    position: absolute;
    color: var(--color1);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

div.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

div.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: var(--color2);
    border-radius: 50%;
    border: 6px solid var(--color1);
    transition: 0.5s;
}

.indicator::before {
    /* never mind */
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}